/vendor/
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/bootstrap/cache/

# Logs & environment
*.log
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
auth.json

# IDE & editors
/.idea
/.vscode
/.fleet
/.nova
/.zed

# OS specific
.DS_Store
Thumbs.db

# Misc
Homestead.yaml
Homestead.json

# ai agents
CLAUDE.md
AGENTS.md